meta(name='viewport', content='width=device-width, initial-scale=1.0')
nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand Mega's Resume
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_me") 個人資訊
        li
          a(href="#team") 團隊
        li
          a(href="#traits") 特質
        li
          a(href="#like") 興趣          
        li
          a(href="#skill") 專長
        li
          a(href="#paper") 證書
        li
          a(href="#exp") 經歷
        li
          a(href="#contest") 競賽
        li
          a(href="#work") 作品
          
header.jumbotron
  .container
    h1(data-0="transform: translateY(0px)" data-500="transform: translateY(200px)") Mega Jing Hua
    hr
    h5 嗨!我是進化(靖樺)<br>回想過去就是因為好奇心帶來的疑問，<br>了解後得到的驚奇。<br>很單純的喜歡這種感覺，<br>也因此讓我嘗試了不同的事物。<br><br>
    p SCROLL
    .box
      .point
      
section
  .container
    .row
      .section_me.col-sm-12.col-md-4
        .col-md-4
          .img_me
            img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/19958943_1517738344913349_1954375531421217608_n.jpg?oh=13fd8e60d598fdcc890ef06ed018c2af&oe=5B260268", alt="")
          h1
          
          h4 陳靖樺 (Ching-Hua Chen)
          hr
          h1
          li
            .icon_me
              i.fas.fa-graduation-cap
            span 應用數學系 碩一
          li 
            .icon_me
              i.fas.fa-birthday-cake
            span 83/11/09
          li
            .icon_me
              i.fas.fa-phone-square
            span 0928-046-924
          li
            .icon_me
              i.fas.fa-envelope-square
            span h12732u@gmail.com
          li 
            .icon_me
              i.fab.fa-line
            span mega1109
      #section_all.col-sm-12.col-md-8
        #section_team.col-sm-12.col-md-12
          hr#team
          .title_  
            .title_h3 T
            h3 團隊經驗/Team Experience
          .row
            .team.col-sm-4
              .box_team_center  
                .box_team 
                  i.fas.fa-graduation-cap.fa-4x
                  span <br>逢甲大學
              .box_point_team
              .box_line_team
              .box_team_container
                p.team_day 2013.09
                p ∝ 應用數學系<br>∝ 系女子籃球隊<br>∝ 管樂團
                P.team_day 2014.09
                p ∝ Monster Lab
            .team.col-sm-4
              .box_team_center 
                .box_team
                  i.fas.fas.fa-briefcase.fa-4x
                  span <br>寶成國際集團
              .box_point_team
              .box_line_team
              .box_team_container
                p.team_day 2017.02-06
                p ∝ PGMST部門實習
            .team.col-sm-4
              .box_team_center  
                .box_team 
                  i.fas.fa-hospital-alt.fa-4x
                  span <br>逢甲大學
              .box_point_team
              .box_line_team
              .box_team_container
                p.team_day 2017.09
                p ∝ 應用數學所<br>∝ Monster Lab
        #section_traits
          hr#traits
          .title_  
            .title_h3 P
            h3 個人特質/Personality        
          .traits_center  
            .traits1
              .traits_circle 創造力75%
                .traits_circle1
              .traits_circle 幽默感50%
                .traits_circle4
            .traits2
              .traits_circle 積極度100%
                .traits_circle5 
              .traits_circle 溝通力75%
                .traits_circle1 
              .traits_circle 領導力50%
                .traits_circle4
        #section_like
          hr#like
          .title_  
            .title_h3 I
            h3 日常興趣/Interests
          .like  
            .like1
              .icon_like
                img(src="https://image.flaticon.com/icons/svg/235/235196.svg")
                p 網頁
              .icon_like
                img(src="https://image.flaticon.com/icons/svg/760/760033.svg")
                p 日文
              .icon_like
                img(src="https://image.flaticon.com/icons/svg/713/713841.svg")
                p 繪圖   
              
            .like2
              .icon_like
                img(src="https://image.flaticon.com/icons/svg/283/283585.svg")
                p 3D建模
              .icon_like
                img(src="https://image.flaticon.com/icons/svg/204/204286.svg")
                p 攝影          
              .icon_like
                img(src="https://image.flaticon.com/icons/svg/230/230382.svg")
                p 電子琴
                       
        #section_skill
          hr#skill
          .title_  
            .title_h3 S
            h3 專長/Summary of Skills
          .skill_center
            .skill
              .skill_text HTML5
              .icon_skill
                i.fas.fab.fa-html5.fa-3x
              .skill_bar 
                .skill_lv1
            .skill
              .skill_text 簡報
              .icon_skill
                i.fas.fa-chart-line.fa-3x
              .skill_bar 
                .skill_lv2
            .skill 
              .skill_text 3D建模
              .icon_skill
                i.fas.fa-cubes.fa-3x
              .skill_bar
                .skill_lv6
            .skill 
              .skill_text 3D列印
              .icon_skill
                i.fas.fa-laptop.fa-3x
              .skill_bar
                .skill_lv8
            .skill 
              .skill_text 美編
              .icon_skill
                i.fas.fas.fa-paint-brush.fa-3x
              .skill_bar
                .skill_lv9
            .skill 
              .skill_text 攝影
              .icon_skill
                i.fas.fa-camera-retro.fa-3x
              .skill_bar
                .skill_lv10

        #section_paper
          hr#paper
          .title_  
            .title_h3 C
            h3 證照/Certifications
          .paper_flex  
            .tqc TQC+
            .paper_text
              p ∝ 程式語言C
              p ∝ 程式語言Html5
        #section_exp
          hr#exp
          .title_  
            .title_h3 A
            h3 活動經歷/Activity Experience
          .exp_line
          .table_exp
            .table_a 2017
            .table_b
              .p_exp 
              p 寶成國際集團 集團創研中心《實習》
          .table_exp
            .table_a 2016
            .table_b
              .p_exp
              p 中華電信基金會 蹲點台灣計畫《錄取》
          .table_exp
            .table_a 2015
            .table_b
              .p_exp
              p 組合數學與計算理論研討會《發表論文》<br>A Comparison of Slicing-Tools for Fused Deposition Modeling 
              .p_exp
              p 藝術與設計菁英海外培訓計畫《錄取》
              .p_exp
              p 中華電信基金會 蹲點台灣計畫《決選》
        #section_contest
          hr#contest
          .title_  
            .title_h3 C
            h3 競賽 Contest
          .contest_line
          .table_exp
            .table_a 2017
            .table_b
              .p_exp
              p 台電智慧電錶研析與設計競賽-設計組《冠軍》《佳作》
              .p_exp
              p TCN夢公仔設計競賽《冠軍》
          .table_exp
            .table_a 2016
            .table_b
              .p_exp
              p 逢甲大學應用數學系-數學應用競賽《銅獎》
              .p_exp
              p 逢甲大學理學院論文競賽《佳作》
              .p_exp
              p 希捷守護者-平面設計大賽《佳作》
          .table_exp
            .table_a 2015
            .table_b
              .p_exp
              p K.T.科技與人文科技藝術創意競賽-互動科技組《科普特別獎》
              .p_exp
              p 台灣國際雷射展工藝競賽《優勝》
              .p_exp
              p YS3D公仔創意競賽《佳作》
              .p_exp
              p 逢甲3D列印創意競賽《銅牌獎》
    #section_work
      hr#work
      .title_  
        .title_h3 C
        h3 作品集/Collection
      .issuuembed(data-configid='26416929/60631626', style='width:100%; height:600px;')
script(type='text/javascript', src='//e.issuu.com/embed.js', async='true')

.newpage
  .icon
  .title
  .p
  .circle
  .close
footer#footer_send.jumbotron