html{
  font-size: 300%;
  background-color: #333;
}
.container{
  background-color: #333;
}
.orangeButton{
  background-color: #333;
  border-color: #ff9900;
  color: white;
}
.orangeButton:hover{
  border-color: #ff9900;
  color: #ff9900;
}
/*輸入欄位*/
.inputKey{
  padding-top: 2%;
}
/*數字鍵盤*/
.digital_background{
  padding: 1%;
}
.btn-outline-secondary{
  background-color: #333;
  color: white;
}
.digital {
  margin: 0.5%;
  width: 20%;
}
.digital_double{
  margin: 0.5%;
  width: 40%;
}
/*英文鍵盤*/
.english_background{
  padding: 1%;
}
.english{
  margin: 0.5%;
  width: 10%;
}
.english_double{
  margin: 0.5%;
  width: 20%;
}
